/*Configurações principais*/
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0;
    background-color: #cbcbcb   ;
}

/*Modificando o título da página*/
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #b1b1b1;
}

.title h1{
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}

/*Editando os input de nome, email e senha*/
.name, .email, .password{
    display: flex;
    justify-content: space-between;
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 175px;

    color: #505050;
}

.form_section{/*Configurando a seção do formulário*/
    width: 50%;
    padding: 100px;
    border-radius: 5px;
    margin: 50px 0;
    background-color: white;
}
.send {/*Botão enviar*/
    display: flex;
    justify-content: center;
}

.check_box label{ /*Checkbox*/
    font-family: Arial, Helvetica, sans-serif;
}

/*Rodapé do site*/
.menu{
    width: 100%;
    background-color: #b1b1b1;
    display: flex;
    justify-content: center;
}

.menu a {
    color: #505050;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu a:active {
    color: black;
}